@tailwind base;
@tailwind utilities;

@keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 5;
  }
}

/**
 * Base styles
 */
.btn {
  --fill-duration: 300ms;
  --stroke-duration: 200ms;
  align-items: center;
  appearance: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  font-size: 0.875rem;
  font-weight: bold;
  gap: .5rem;
  height: 3rem;
  justify-content: center;
  letter-spacing: 0.05em;
  outline: none;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.btn:hover .lines svg {
  animation: stroke var(--stroke-duration) linear;
}

.btn .lines {
  inset: 0;
  mix-blend-mode: hard-light;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.btn .lines > div {
  inset: 0;
  position: absolute;
}

.btn .lines > div:last-child {
  transform: rotate(180deg);
}

.btn .lines svg {
  display: block;
  fill: none;
  height: 100%;
  inset: 0;
  overflow: visible;
  position: absolute;
  stroke-dasharray: 12 12;
  stroke-dashoffset: 12;
  stroke: 2px;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.btn .lines svg:nth-child(2) {
  filter: blur(20px);
  stroke-width: 6px;
}

.btn .lines svg:nth-child(3) {
  filter: blur(6px);
  stroke-width: 5px;
}

.btn .lines svg:nth-child(4) {
  filter: blur(56px);
  stroke-width: 10px;
}

/**
 * Primary
 */
.btn-primary {
  background: linear-gradient(100deg, #01a4ff 35%, #01ffc2 115%);
  color: #000;
}

.btn-primary .lines svg {
  stroke: #01a4ff;
}

.btn-primary .lines svg:nth-child(1) {
  stroke: #01ffc2;
}

/**
 * Transparent
 */
.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition-duration: var(--fill-duration);
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-transparent:hover {
  background: #fff;
  color: #000;
}

.btn-transparent .lines svg {
  stroke: #c9e9ff;
}

.btn-transparent .lines svg:nth-child(1) {
  stroke: #f8fcff;
}
